.image-back-trv {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(../../assets/vassalagem.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: saturation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.image-back-trv > h1 {
  color: #000;
  opacity: 0.5;
  font-size: 4rem;
}

#go-text {
  border: 0;
  background-color: transparent;
  opacity: 0.5;
  font-size: 3rem;
  cursor: pointer;
}

@keyframes saturation {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%);
  }
}
