.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.row-antiguidade,
.row-trovadorismo,
.row-humanismo,
.row-classicismo,
.row-barroco,
.row-arcadismo,
.row-romantismo {
  width: 100%;
  height: 29rem;
  display: flex;
  flex-direction: row;
}
.img1 {
  width: 50%;
  height: 29rem;
  background-image: url(../assets/socrates.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.img2 {
  width: 50%;
  height: 29rem;
  background-image: url(../assets/trovadorismo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img3 {
  width: 50%;
  height: 29rem;
  background-image: url(../assets/bosch.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img4 {
  width: 50%;
  height: 29rem;
  background-image: url(../assets/classicismo2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img5 {
  width: 50%;
  height: 29rem;
  background-image: url(../assets/barroco.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img6 {
  width: 50%;
  height: 29rem;
  background-image: url(../assets/arcadismo2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img7 {
  width: 50%;
  height: 29rem;
  background-image: url(../assets/roman.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .row-antiguidade,
  .row-humanismo,
  .row-barroco,
  .row-romantismo {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .row-trovadorismo,
  .row-classicismo,
  .row-arcadismo {
    flex-direction: column-reverse;
    height: fit-content;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img4,
  .img5,
  .img6,
  .img7 {
    width: 100%;
  }
}
