.card-authors {
  width: 23rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  text-align: center;
  align-items: center;
}
#imgs {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  cursor: pointer;
}
#bio {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: hsl(213, 9%, 39%);
  font-weight: 500;
  line-height: 23px;
}
#names {
  font-size: 1.3rem;
  font-family: "Fraunces", sans-serif;
  color: hsl(212, 27%, 19%);
}
@media (max-width: 768px) {
  .card-authors {
    width: 100%;
  }
  #bio {
    font-size: 0.8rem;
  }
}
