@import url(../index.css);
.card-content {
  width: 50%;
  height: 29rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 6.5rem;
  gap: 2rem;
}
#tt {
  font-size: 1.8rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 800;
  color: hsl(212, 27%, 19%);
}
#sub {
  font-size: 1.1rem;
  line-height: 28px;
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-weight: 500;
  letter-spacing: 0.5px;
}
#learn {
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
}

.link {
  width: fit-content;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-weight: 500;
  color: hsl(212, 27%, 19%);
  opacity: 0.9;
  transition: all 0.5s ease-in-out !important;
}

.link:hover {
  text-decoration: underline;
  opacity: 1;
}

@media (max-width: 768px) {
  .card-content {
    width: 100%;
    padding: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #tt {
    font-size: 1.4rem;
  }
  #sub {
    font-size: 0.9rem;
    line-height: 22px;
  }
}
